.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}
#password {
    width: 300px;
}
input[type='submit'] {
    width: 200px;
    margin: auto;
}