.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-row-center {
    display: flex;
    justify-content: center;
}
.flex-row-center button {
    margin: 0px 10px;
}

.flex-row-center button[type="button"] {
    background-color: grey;
    border-color: grey;
}

.margin-top {
    margin-top: 1em;
}